#ja-jobs-widget {
	position: relative;
}

.ja-loading {
	position: absolute;
	top: 10px;
	right: 10px;
}

.ja-loading.left {
	left: 10px;
	right: auto;
}


/* Forms */
.ja-form {
	margin-bottom: 3em;
}

.ja-form .ja-field-container {
	margin-bottom: 0.5em;
}

.ja-form .ja-field-container:before,
.ja-form .ja-field-container:after {
	content: "";
	display: table;
}

.ja-form .ja-field-container:after {
	clear: both;
}

.ja-form .ja-field-container {
	zoom: 1;
}

.ja-form .ja-field-container label {
	display: block;
	float: left;
	width: 100px;
	padding-top: 6px;
}

.ja-form .ja-field-container .ja-field {
	float: left;
}

.ja-form .ja-field-container select,
.ja-form .ja-field-container textarea,
.ja-form .ja-field-container input[type="text"],
.ja-form .ja-field-container input[type="password"],
.ja-form .ja-field-container input[type="datetime"],
.ja-form .ja-field-container input[type="datetime-local"],
.ja-form .ja-field-container input[type="date"],
.ja-form .ja-field-container input[type="month"],
.ja-form .ja-field-container input[type="time"],
.ja-form .ja-field-container input[type="week"],
.ja-form .ja-field-container input[type="number"],
.ja-form .ja-field-container input[type="email"],
.ja-form .ja-field-container input[type="url"],
.ja-form .ja-field-container input[type="search"],
.ja-form .ja-field-container input[type="tel"],
.ja-form .ja-field-container input[type="color"] {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333;
	border: solid 1px #ccc;
}

.ja-form .ja-field-container select {
	width: 300px;
	padding: 2px;
}

.ja-form .ja-field-container textarea {
	width: 230px;
	padding: 3px 4px;
}

.ja-form .ja-field-container input[type="text"],
.ja-form .ja-field-container input[type="password"],
.ja-form .ja-field-container input[type="datetime"],
.ja-form .ja-field-container input[type="datetime-local"],
.ja-form .ja-field-container input[type="date"],
.ja-form .ja-field-container input[type="month"],
.ja-form .ja-field-container input[type="time"],
.ja-form .ja-field-container input[type="week"],
.ja-form .ja-field-container input[type="number"],
.ja-form .ja-field-container input[type="email"],
.ja-form .ja-field-container input[type="url"],
.ja-form .ja-field-container input[type="search"],
.ja-form .ja-field-container input[type="tel"],
.ja-form .ja-field-container input[type="color"] {
	width: 290px;
	padding: 3px 4px;
}

.ja-form .ja-field-container .checkbox:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ja-form .ja-field-container .checkbox {
	display: block;
	margin-left: 95px;
}

.ja-form .ja-field-container .checkbox br {
	clear: left;
}

.ja-form .ja-field-container .checkbox input {
	width: 15px;
	height: 19px;
	float: left;
}

.ja-form .ja-field-container .checkbox label {
	height: 21px;
	width: auto;
	line-height: 21px;
	float: left;
	padding: 2px 12px 0 5px;
}


.ja-form .ja-submit {
	margin-top: 1em;
	margin-left: 100px;
	vertical-align: middle;
}

.ja-form .ja-submit .ja-loading {
	position: relative;
	top: 0;
	left: 0;
	margin-left: 10px;
	vertical-align: middle;
}

.ja-button {
	font-size: 1.2em;
	font-family: Helvetica, Arial, sans-serif;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #212121;
	padding: 8px 18px;
	background-color: #95c73b;
	color: #ffffff;
	display: inline-block;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
	
}

.ja-button:hover {
    cursor: pointer !important;
    background-color: #212121;
    color: #95c73b;
    border-color: #212121;
}

.ja-button:active {
	position: relative;
	top: 1px;
}

.ja-form .ja-field-container .error {
	color: #990000;
	border-color: #990000;
}

.ja-form .ja-field-container .validation-error {
	display: block;
	clear: both;
	margin-top: 5px;
	color: #aa0000;
}

.ja-form .ja-error-container {
	color: #aa0000;
	margin-top: 2em;
	margin-left: 100px;
}

.ja-form .ja-error-container p {
	margin-bottom: 0;
}

/* End forms */


/* Job list */

.ja-job-list-container {
}

.ja-job-list-container .no-jobs-content {
}

.ja-job-list {
	margin-bottom: 3em;
}

.ja-job-list .job {
	background-color: #eaeaea;
	margin-bottom: 1em;
	padding: 0.5em;
}

.ja-job-list .job.alt {
	background-color: #f4f4f4;
}

.ja-job-list .job.hot {
	background-color: #fffdfd;
}

.ja-job-list .job .title {
	margin-bottom: 0px;
}

.ja-job-list .job .title a {
	font-weight: bold;
}

.ja-job-list .job .meta {
	min-height: 25px;
	color: #779f2f;
	margin-bottom: 1em;
	position: relative;
	padding-right: 120px;
}

.ja-job-list .job .meta p {
	font-size: 0.9em;
	margin-bottom: 0.5em;
}

.ja-job-list .job .meta .classifications {
	padding-left: 0px;
	font-size: 16px;
	list-style: none;
	margin: 0 0 0.5em 0;
}

.ja-job-list .job .meta .classifications li {
	display: inline-block;
	margin-right: 0.5em;
}

.ja-job-list .job .meta .date-posted {
	margin: 0;
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
}

.ja-job-list .job .meta .salary {
	clear: left;
	float: left;
}

.ja-job-list .job .meta .reference {
	float: right;
	text-align: right;
}

.ja-job-list .job .summary {
}

.ja-job-list .job .view-details {
	font-size: 0.8em;
	font-family: Helvetica, Arial, sans-serif;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #212121;
	padding: 4px 18px;
	text-decoration: none;
	background-color: #95c73b;
	font-weight: bold;
	color: #ffffff;
	display: inline-block;
	text-transform: uppercase;
    letter-spacing: 1px;
}

.ja-job-list .job .view-details:hover {
	cursor: pointer !important;
	background-color: #212121;
	color: #95c73b;
	border-color: #212121;
}

.ja-job-list .job .view-details:active {
	position: relative;
	top: 1px;
}


/* End job list */


/* Pager */

.ja-pager-container {
}

.ja-pager-container:before,
.ja-pager-container:after {
	content: "";
	display: table;
}

.ja-pager-container:after {
	clear: both;
}

.ja-pager-container {
	zoom: 1;
}

.ja-pager {
	float: left;
	font-size: 0.9em;
}

.ja-pager:before,
.ja-pager:after {
	content: "";
	display: table;
}

.ja-pager:after {
	clear: both;
}

.ja-pager {
	zoom: 1;
}

.ja-pager span,
.ja-pager a {
	display: block;
	float: left;
	line-height: 23px;
	padding: 0 8px;
	margin-right: 3px;
	color: #333;
	background-color: #f3f3f3;
	border: solid 1px #ddd;
}

.ja-pager a:hover,
.ja-pager .current-page {
	color: #fff;
	background-color: #bbb;
	border-color: #999;
	text-decoration: none;
}

.ja-pager .previous,
.ja-pager .next {
}

.ja-pager .first-page,
.ja-pager .last-page {
}

.ja-pager .previous-ellipsis,
.ja-pager .next-ellipsis {
}


.ja-pager-summary {
	float: right;
	line-height: 25px;
	font-size: 0.9em;
}

/* End pager */


/* Job details */

.ja-job-details {
}

.ja-job-details .title {
    margin-bottom: 0px;
	font-weight: bold;
}

.ja-job-details .meta {
	min-height: 25px;
    color: #779f2f;
	margin-bottom: 1em;
	padding-right: 120px;
	position: relative;
}

.ja-job-details .meta p {
	font-size: 0.9em;
	margin-bottom: 0.5em;
}

.ja-job-details .meta .classifications {
	padding-left: 0px;
	font-size: 16px;
	list-style: none;
	margin: 0 0 0.5em 0;
}

.ja-job-details .meta .classifications li {
	display: inline-block;
	margin-right: 0.5em;
}

.ja-job-details .meta .date-posted {
	text-align: right;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.ja-job-details .meta .salary {
	clear: left;
	float: left;
}

.ja-job-details .meta .reference {
	float: right;
	text-align: right;
}

.ja-job-details .bullet-points {
}

.ja-job-details .bullet-points li {
}

.ja-job-details .description {
}

.ja-job-details .apply {
	margin: 2em 0 0.5em 0;
	text-align: center;
}

.ja-job-details .apply .back-link {
	font-size: 0.9em;
	margin-right: 1em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #212121;
    padding: 6px 18px;
    text-decoration: none;
    background-color: #95c73b;
    color: #ffffff;
    display: inline-block;
	margin-bottom: 10px;
}

.ja-job-details .apply .back-link:hover {
	background-color: #e9e9e9;
	color: #000000;
	cursor: pointer !important;
}

.ja-job-details .apply .ja-button {
}

@media (max-width: 500px) {
	.ja-job-details .apply {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.ja-job-details .apply .back-link {
		order: 2;
		margin: 0;
	}
	.ja-job-details .apply .ja-button {
		order: 1;
		margin-bottom: 20px;
	}
}

/* End job details */

/* Application form iframe (external app forms) */

.ja-apply-iframe iframe {
	width: 100%;
	height: 500px;
	border: none;
}

.ja-apply-iframe .apply {
	margin: 2em 0 0.5em 0;
	text-align: center;
}

.ja-apply-iframe .apply .back-link {
	font-size: 0.9em;
}

/* End application form iframe */

/* Application form */

.ja-job-apply .ja-success-text {
	
}

.ja-job-apply .ja-submit .back-link {
	font-size: 0.9em;
	margin-right: 1em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #212121;
    padding: 7px 18px 5px 18px;
    text-decoration: none;
    background-color: #95c73b;
    color: #ffffff;
    display: inline-block;
	margin-top: 10px;
}

.ja-job-apply .ja-submit .back-link:hover {
	background-color: #e9e9e9;
	color: #000000;
	cursor: pointer !important;
}

/* End application form */

/* Powered by JobAdder */

.powered-by-jobadder {
	display: none;
	color: #bbb;
	font-size: 0.9em;
	text-align: center;
	margin: 2em 0 1em 0;
}

.powered-by-jobadder a {
	color: #bbb;
}

.powered-by-jobadder a:hover {
	color: #aaa;
}